.button{
    padding: 15px;
    cursor: pointer;
    background-color: #F09F5F;
    border: none;
    border-radius: 5px;
    width: max-content;
  }

  @media screen and (max-width: 750px) {
    .button{
      padding: 10px;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 600px) {
    .button{
      padding: 10px;
      font-size: 12px;
    }
  }