
.title{
    margin-bottom: 60px;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input, .textarea{
    width: 50%;
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
}


@media screen and (max-width: 750px) {
    .input, .textarea{
        width: 90%;
        padding: 10px;
    }
    .title{
        font-size: 1.5rem;
        margin-bottom: 30px;

    }
  }
@media screen and (max-width: 380px) {
    .container{
        margin: -100px -40px 0 -40px;

    }
  }
@media screen and (max-width: 320px) {
    .title{
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
  }