
.top {
  display: flex;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.desc{
  font-weight: 300;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.imageContainer {
  flex: 1;
  height: 300px;
  position: relative;
}

.image {
  object-fit: cover;
}

.content {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 300;
  color: #999;
  text-align: justify;
}

@media screen and (max-width: 950px) {
  .content{
      font-size: 90%;
  }

}
@media screen and (max-width: 550px) {
  .container{
      font-size: 80%;
  }
  .imageContainer {
    height: 200px;
  }

}
@media screen and (max-width: 480px) {
 .desc{
  margin: 20px 0;
 }
 .top{
  flex-direction: column;
 }
}
@media screen and (max-width: 380px) {
  .container{
      margin: 0 -30px;
  }
}