.container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer{
    font-size: 12px;
}
.social{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


@media screen and (max-width: 500px) {
    .container{
        margin: 0 -40px;
    }
}